.btn-full {
  width: 100%;
  border: none;
  background-color: #fff;
  color: #152d51;
  font-weight: bold;
  padding: 12px;
  border-radius: 0.8rem;
  transition: background 0.3s;
}

.btn-full:hover {
  background-color: #7bd5ab;
}

.contacto-container {
  padding-top: 4rem;
  padding-bottom: 8rem;
  padding-left: 40px;
  padding-right: 40px;
}

@media (min-width: 992px) {
  .contacto-container {
    padding-top: 5rem;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.info-box i {
  font-size: 1.5rem;
  color: #7bd5ab;
  margin-right: 15px;
}
