body {
    background-color: #ffffff !important;
}

.reserva-container {
    background-color: #ffffff !important;
    padding-top: 3rem;
    padding-bottom: 5rem;
    padding-left: 20px;
    padding-right: 20px;
}

@media (min-width: 992px) {
    .reserva-container {
        padding-left: 20px;
        padding-right: 20px;
    }
}


.oferta-detalle {
    border-radius: 1.5rem;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #eee;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05) !important;
}

.modelo-reserva {
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 240px;
    z-index: 10;
}

.img-reserva {
    width: 100%;
    height: auto;
    padding: 20px;
}

.price-summary {
    background-color: #f8f9fa;
    border-radius: 0.8rem;
    border: 1px solid #dee2e6;
}

.btn-full {
    width: 100%;
    border: none;
    background-color: #152D51;
    color: #fff;
    font-weight: bold;
    padding: 12px;
    border-radius: 0.8rem;
    transition: background 0.3s;
}

.btn-full:hover {
    background-color: #7BD5AB;
    color: #152D51;
}

.btn-full:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}